html,
body,
#root {
  height: 100%;
  font-family: sans-serif;
}

.container {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.panel {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
